/* style.css */
body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
